body {
    margin: 0;
    text-align: center;
    background-color: #EFEAD8;
    border-style: solid;
    margin:0;
    padding:0;
    height: calc(100vh - 30px);
    border-width: 15px;
    border-color: #455246;
}


h1 {
    color: #455246;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    opacity: 1;
    margin-top: 18%;
    margin-bottom: 0px;
}

#class-code-input {
    background-color: #BBC4B0;
    color: #6D8B74;
    width: 50%;
    font-size: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: Normal;
    letter-spacing: 5px;
    border-radius: 15px;
    border: 0;
}

#backdrop {
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    left: 15px;
    top: 15px;
    z-index: -1;
}

#join-button {
    width: 15%;
}